*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: 400;
    font-size: 16px;
    position: relative;
    padding-top: 100px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #002f6c;
}


.fas {
    opacity: .3;
    margin-right: 10px;
}

img {
    max-width: 100%;
}

/* Header ================================================*/



.logo {
    max-width: 100%;
    transition: width .3s ease-in-out; 
}

.logo-scroll {
    width: 140px;
    transition: width .3s ease-in-out;
}

.header__adress {
    color: #002f6c;
    text-align: right;
    padding-right: 20px;
}

.header__top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 48;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 7px 28px -11px rgba(0,0,0,0.1);
}

.header__main {
    background-image: url(../img/header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 130px;
}


h1 {
    font-size: 50px;
    color: #fff;
    margin-top: 40px;
    text-align: left;
    margin-bottom: 30px;
}

h1 span {
    color: #cd0046;
}


.form__title {
    color: #cd0046;
    text-align: left;
    margin-bottom: 30px;
    font-size: 30px;
}

.subForm {
    text-align: left;
    margin-bottom: 150px;
}

.subForm-name {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #002f6c;
    color: #fff;
    border-radius: 5px;
    transition: .5s;
}

.subForm-name:focus {
    background-color: #002f6c;
    outline-color: transparent;
    transition: .5s;
}

.subForm-tel {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #002f6c;
    color: #fff;
    border-radius: 5px;
    transition: .5s;
}

.subForm-tel:focus {
    background-color: #002f6c;
    outline-color: transparent;
    transition: .5s;
}

.btn {
    padding: 10px;
    color: #fff;
    background-color: #cd0046;
    border-color: transparent;
    border-radius: 5px;
}

.btn:hover {
    transition: .3s;
    opacity: .7;
    cursor: pointer;
}


/* Навигация ===================================*/

.nav {
    position: relative;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    text-align: right;
}

.nav__item {
    padding: 20px;
    margin-right: -10px;
}


.nav__link {
    color: #272727;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    overflow: hidden;
    background: linear-gradient(to right, #cd0046, #cd0046 50%, #002f6c 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 400ms ease;
}

.nav__link:hover {
    background-position: 0 100%;
}




.burger {
     width: 50px;
     height: 50px;
     background-color: transparent;
     position: absolute;
     top: 0;
     right: 0;
     display: none;
 }

 .burger-scroll {
     top: -55px;
     transition: .3s;
 }

 .burger-item {
     width: 100%;
     height: 4px;
     background-color: red;
     position: absolute;
     top: 50%;
     left: 0;
     transition: .3s;
 }

 .burger-item::before {
     content: '';
     width: 100%;
     height: 4px;
     background-color: red;
     position: absolute;
     top: 13px;
     left: 0;
     transition: .3s;
 }

 .burger-item::after {
     content: '';
     width: 100%;
     height: 4px;
     background-color: red;
     position: absolute;
     top: -13px;
     left: 0;
  }

 .burger-item_open {
     height: 0;
 }

 .burger-item_open::before {
     transform: rotate(40deg);
     top: 0px;
     transition: .3s;
 }

.burger-item_open::after {
    transform: rotate(-40deg);
    top: 0px;
    transition: .3s;
}



/* advantages ====-===+=++++++++===++++===++++ */


.advantages {
    background-color: #002f6c;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 30px;
}

.advantages-text p {
    text-transform: uppercase;
    color: #fff;
}

.advantages-text {
    margin-bottom: 40px;
}

.advantages-title {
    color: #fff;
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 20px;
}


/* about =-=-=-=-=-=-=-=-=-= */

.about {
    margin-bottom: 10px;
}

.about-title span {
    color: #cd0046;
}
.about-title {
    font-size: 30px;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
}

.about-content p span {
    color: #cd0046;
}

.about-content p {
    margin-bottom: 20px;
    font-size: 18px;
}

.about-btn {
    margin-top: 20px;
    margin-bottom: 10px;
    display: inline-block;
    text-align: center;
}

.ourePluse span {
    color: #002f6c;
    font-size: 25px;
    display: inline-block;
    margin-bottom: 15px;
}

.ourePluse li {
    font-size: 18px;
    margin-bottom: 10px;
    list-style: square;
    margin-left: 20px;
}

/* Courses =-=-=-==-==-=--=-=-=-=-=-=-=- */

.course {
    margin-bottom: 20px;
}

.course-title {
    text-align: center;
    font-size: 30px;
    color: #fff;
    position: relative;
    margin-bottom: 30px;
    background-color: #002f6c;
    padding-top: 15px;
    padding-bottom: 15px;
    border-left: 25px solid #cd0046;
}

.course-one {
    border: 5px solid #ddffff;
    border-radius: 5px;
    background-color: #ddffff;
    margin-bottom: 20px;
}

.course-one:hover {
    transform: translateY(-10px);
    transition: .3s;
}

.course-one--title {
    margin-bottom: 20px;
    margin-top: 25px;
    text-align: center;
    color: #cd0046;
    padding: 0 10px;
}

.cource-one--descr {
    text-align: center;
    padding: 0 10px;
}


.btn-course {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 0;
}

.course-title::before {
    content: '';
    width: 50px;
    height: 4px;
    background-color: #cd0046;
    position: absolute;
    bottom: -15px;
    left: 48%;
}

/* Forma na glavnoi =-=-=-=-===-=-=- */


.main-form {
    text-align: center;
    padding: 10px 0;
}

.main-form--title {
    color: #002f6c;
    font-size: 30px;
    margin-bottom: 20px;
}

.form-textaria {
    display: block;
    margin: 0 auto;
}

.form-name {
    padding: 10px 10px;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid rgba(125, 255, 93, 0.685);
    outline-color: transparent;
    font-size: 20px;
}

.form-number {
    padding: 10px 10px;
    width: 100%;
    margin-bottom: 50px;
    border: none;
    border-bottom: 1px solid rgba(125, 255, 93, 0.685);
    outline-color: transparent;
    font-size: 20px;
}

.form-textaria {
    padding: 10px 10px;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid rgba(125, 255, 93, 0.685);
    outline-color: transparent;
    font-size: 20px;
    margin-bottom: 40px;
}

.form-sub {
    padding: 90px 0;
    border: 4px solid rgba(125, 255, 93, 0.685);
    outline-color: transparent;
}


.main-form--input:focus {
    border-bottom-color: #002f6c;
}


/* Blog =-=-=-=-=-=-=-=-=-=-=-=-=-====== */


.blog {
    margin-bottom: 30px;
}

.blog-post {
    text-align: left;
    margin-bottom: 20px;
}

.blog-maintitle {
    text-align: center;
    font-size: 30px;
    color: #fff;
    position: relative;
    margin-bottom: 30px;
    background-color: #002f6c;
    padding-top: 15px;
    padding-bottom: 15px;
    border-left: 25px solid #cd0046;
}

.blog-data {
    font-size: 14px;
    color: rgba(75, 75, 75, 0.4);
}

.blog-title {
    color: #002f6c;
    font-size: 20px;
    text-align: center;
}

.blog-btn {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.blog-more {
    text-align: right;
}

.more-btn {
    color: #002f6c;
}


/*  foter =-=-===-=-=-=-=-==-=-=-=-= */

.footer {
    background-color: #002f6c;
    color: #fff;
    padding-top: 20px;
}

.footer-left {
    text-align-last: left;
}

.footer-left img {
    width: 50%;
}

.footer-right {
    text-align: right;
}

.footer-right a {
    color: #fff;
    position: relative;
    display: inline-block;
    overflow: hidden;
    background: linear-gradient(to right, #cd0046, #cd0046 50%, #fff 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 400ms ease;
}

.footer-right a:hover {
    background-position: 0 100%;
}

.footer-socialIcon a i {
    color: rgba(255, 255, 255, 0.514);
    font-size: 29px;
}


/* contact =-=-=-=-=-=-=-=-=-=-=-=-= */

.contact-title {
    text-align: center;
    font-size: 30px;
    color: #fff;
    position: relative;
    margin-bottom: 30px;
    background-color: #002f6c;
    padding-top: 15px;
    padding-bottom: 15px;
    border-left: 25px solid #cd0046;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact-title::before {
    content: '';
    width: 50px;
    height: 4px;
    background-color: #cd0046;
    position: absolute;
    bottom: -15px;
    left: 48%;
}

.contact-name {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    margin-right: 20px;
}

.contact-desc {
    display: inline-block;
    margin-left: 40px;
}

.contact-desc a {
    position: relative;
    display: inline-block;
    overflow: hidden;
    background: linear-gradient(to right, #cd0046, #cd0046 50%, #002f6c 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 400ms ease;
}

.contact-desc a:hover {
    background-position: 0 100%;
}

.contact-social {
    padding-left: 20px;
}

.fab {
    font-size: 40px;
    padding-left: 5px;
}

.fa-instagram-square {
    color: #cd0046;
}

.contact-form {
    text-align: center;
    font-size: 30px;
    color: #fff;
    position: relative;
    margin-bottom: 30px;
    background-color: #002f6c;
    padding-top: 15px;
    padding-bottom: 15px;
    border-left: 25px solid #cd0046;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact-form::before {
    content: '';
    width: 50px;
    height: 4px;
    background-color: #cd0046;
    position: absolute;
    bottom: -15px;
    left: 48%;
}

.form-contact {
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
}

.form-text {
    font-size: 18px;
}

/*  about Page ==-=--=-=-=-=-=-=-= */

.aboutPage-title {
    text-align: center;
    font-size: 30px;
    color: #fff;
    position: relative;
    margin-bottom: 30px;
    background-color: #002f6c;
    padding-top: 15px;
    padding-bottom: 15px;
    border-left: 25px solid #cd0046;
    margin-top: 20px;
    margin-bottom: 40px;
}

.aboutPage-title::before {
    content: '';
    width: 50px;
    height: 4px;
    background-color: #cd0046;
    position: absolute;
    bottom: -15px;
    left: 48%;
}

.aboutPage-info {
    font-size: 18px;
}

.aboutPage-info span {
    color: #cd0046;
    font-size: 19px;
}


/* Adaptation ======-=-=-=-=-==-=-=-=-= */


@media (max-width: 1024px) {
    .header__main {
        background-position: -1030px ;
    }
    .subForm-name {
        margin-bottom: 10px;
    }
    .subForm-tel {
        margin-bottom: 10px;
    }
    .nav__list {
        flex-direction: column;
        text-align: center;
        display: none;
        opacity: 0;
        transition: 1s;
    }
    .nav__item {
        margin-right: 0;
    }
    .nav__list-open {
        display: flex;
        opacity: 1;
    }
    .burger {
        display: block;
        transition: 1s;
    }
    .btn {
        display: block;
    }
    .footer-left {
        text-align-last: center;
    }
    .footer-right {
        text-align: center;
    }
    .logo-scroll {
        height: auto;
        width: 140px;
    }
    .contact-desc {
        margin: 0;
    }
}

@media (max-width: 770px) {
    body {
        padding-top: 60px;
    }
    .header__main {
        background-position: -880px 0;
    }
    .nav__list {
        display: flex;
        opacity: 1;
        flex-direction: row;
    }
    .nav__link {
        font-size: 15px;
    }
    .burger {
        display: none;
    }
    .footer-left {
        text-align-last: center;
    }
    .footer-right {
        text-align: center;
    }
    .logo-scroll {
        height: auto;
        width: 140px;
    }
    .contact-desc {
        margin: 0;
    }
}

@media (max-width: 430px) {
    .header__main {
        background-position: -985px 0;
    }
    .nav__list {
        display: none;
    }
    .nav__list-open {
        display: flex;
        opacity: 1;
        flex-direction: column;
        text-align: center;
    }
    .burger {
        display: block;
    }
    .footer-left {
        text-align-last: center;
    }
    .footer-right {
        text-align: center;
    }
    .logo-scroll {
        height: auto;
        width: 140px;
    }
    .contact-desc {
        margin: 0;
    }
}

@media (max-width: 380px) {
    .header__main {
        background-position: -1110px 0;
    }
    .nav__list {
        display: none;
    }
    .nav__list-open {
        display: flex;
        opacity: 1;
        flex-direction: column;
        text-align: center;
    }
    .burger {
        display: block;
    }
    .footer-left {
        text-align-last: center;
    }
    .footer-right {
        text-align: center;
    }
    .logo-scroll {
        height: auto;
        width: 140px;
    }
    .contact-desc {
        margin: 0;
    }
}

@media (max-width: 320px) {
    .header__main {
        background-position: -1200px 0;
    }
    .nav__list {
       display: none;
    }
    .nav__list-open {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .burger {
        display: block;
    }
    .footer-left {
        text-align-last: center;
    }
    .footer-right {
        text-align: center;
    }
    .logo-scroll {
        height: auto;
        width: 140px;
    }
    .contact-desc {
        margin: 0;
    }
}